#==========================================================
# Model parameters
#----------------------------------------------------------
# Path to phantoms library
models_lib = ../models/CustomPhantom3DLibrary.dat

# Select a model number from the library
model = 5


#==========================================================
# Partition parameters
#----------------------------------------------------------
# Define phantom dimensions using a scalar value
height = 256
depth = 128
width = 128

# Number of vertical scans
parts_num = 4

# Overlay between adjacent scans in slices
overlay = 10


#==========================================================
# Scanning parameters
#----------------------------------------------------------
angles_num = 225
angles_step = 0.8


#==========================================================
# Distortion parameters
#----------------------------------------------------------
# Seed for pseudorandom distortions
seed = 1

# Is need to apply noise
is_noisy = 0

# Is need to apply offsets
is_offset = 0

# Max offset from axis of rotation (from 0 to 1)
max_offset = 0.02

# Is need to apply tilt
is_tilted = 0

# Max tilt from axis of rotation (in angles)
max_tilt = 5


#==========================================================
# Images parameters
#----------------------------------------------------------
# Path for saving reconstructions
save_path = fibers

# Image format
#format = .tiff

# Pixels data type
#type = float32
