#==========================================================
# Model parameters
#----------------------------------------------------------
# Path to phantoms library
models_lib = ../models/CustomPhantom3DLibrary.dat

# Select a model number from the library
model = 6


#==========================================================
# Partition parameters
#----------------------------------------------------------
# Define phantom dimensions using a scalar value
height = 256
depth = 256
width = 256

# Number of vertical scans
parts_num = 2

# Overlay between adjacent scans in slices
overlay = 8


#==========================================================
# Scanning parameters
#----------------------------------------------------------
angles_num = 180
angles_step = 1.0


#==========================================================
# Distortion parameters
#----------------------------------------------------------
# Seed for pseudorandom distortions
seed = 1

# Is need to apply noise
is_noisy = 1

# Intensivety of the noise
noise_amplitude = 0.01

# Is need to apply offsets
is_offset = 1

# Max offset from axis of rotation (from 0 to 1)
max_offset = 0.02

# Is need to apply tilt
is_tilted = 1

# Max tilt from axis of rotation (in angles)
max_tilt = 10

# Is need to vary intensity
is_intensity_vary = 1

# Max intensity variation from init model value
max_intensity_variation = 0.5


#==========================================================
# Images parameters
#----------------------------------------------------------
# Path for saving reconstructions
save_path = shepp-logan

# Image format
#format = .tiff

# Pixels data type
#type = float32
